/*~
/aclocal.m4
/autom4te.cache
/*.bak
/beagle-0.0.pc
/BeagleClient/Makefile.in
/beagle-daemon.pc
/beagled/Makefile.in
/beagle.spec
/beagle-ui-0.0.pc
/conf-data/Makefile.in
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/depcomp
/.deps
/doc/api/Makefile.in
/doc/Makefile.in
/epiphany-extension/Makefile.in
/Filters/Makefile.in
/firefox-extension/Makefile.in
/glue/Makefile.in
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/ImLogViewer/Makefile.in
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/_libs
/.libs
/libtool
/*.lo
/ltmain.sh
/Makefile
/Makefile.in
/missing
/mkinstalldirs
/*.o
/*.orig
/po/*.gmo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/*.mo
/po/POTFILES
/po/stamp-it
/RDFAdapter/Makefile.in
/*.rej
/search/icons/Makefile.in
/search/Makefile.in
/so_locations
/stamp-h1
/.*.sw[nop]
/*.tab.c
/tags
/TAGS
/thunderbird-extension/Makefile.in
/tools/Makefile.in
/Util/Makefile.in
compile
firefox-extension/Makefile
firefox-extension/beagle.xpi
firefox-extension/install.rdf
glue/search-entry-watermark.h
